<div class="container-fluid">
  <h2>Registration form</h2>
  <form>
    <div class="form-group">
      <label for="username">UserName</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" name="username" id="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">UserName</label>
      <input type="text" class="form-control" name="username" id="confirmPassword">
    </div>
  <button class="btn btn-primary mt-4" type="submit">send</button>
  </form>
</div>
