<div class="container-fluid">
  <h2>Registration form</h2>
<!--  registrationForm in ts-->
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label for="username">UserName</label>
      <input type="text" class="form-control" name="username" id="username" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" name="username" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">UserName</label>
      <input type="text" class="form-control" name="username" id="confirmPassword" formControlName="confirmPassword">
    </div>
  <button class="btn btn-primary mt-4" type="submit">send</button>
  </form>
<pre>
    {{registrationForm.value | json}}
</pre>

</div>
